@model IEnumerable<HRManagementSystem.Models.Employee>


<h1>員工列表</h1>
<form asp-controller="Employees" asp-action="Index" method="get" class="mb-3">
    <div class="d-flex align-items-start gap-2">
        <!-- 搜尋欄 -->
        <input type="text" name="search"
               value="@ViewContext.HttpContext.Request.Query["search"]"
               placeholder="輸入名稱或 Email 查詢"
               class="form-control" style="max-width: 250px;" />

        <!-- 部門下拉選單 -->
        <select name="departmentFilter"
                class="form-control"
                asp-items="ViewBag.DepartmentFilter"
                onchange="this.form.submit()"
                style="max-width: 150px;"></select>

        <!-- 搜尋按鈕 -->
        <button type="submit" class="btn btn-primary">搜尋</button>
    </div>
</form>


<p>
    <a asp-action="Create">建立新員工</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Photo))
                {
                    <img src="~/images/@item.Photo" width="60" height="60" />
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
